doctype html
html(lang="en")
	head
		//- Including the head content
		include tools/pug_includes/head
	body

		include tools/pug_includes/components/mixins

		//- Your website or app content goes here

		section
			.ks-wrapper
				.ks-mo
					.ks-mo-title-ver
						label Kickstarter
					
					.ks-mo-figure
						img(src="tools/images/1.jpg")
					
					.ks-mo-desc
						h1 Thank you for downloading! 
						label Kickstarter Jade + Sass boilerplate
						p.
							Hi, I'm Angel Davchev the creator of the Jade and Sass boilerplate.
							Thank you for downloading it, and happy coding!
						p.
							Be sure to check out my other social media profiles.
			
				a(href="https://github.com/gelsot/Kickstartr-Jade-Sass-boilerplate/archive/master.zip").ks-button.intro_btn Download it
					i.fa.fa-download
			
			.social_media_wrapper
				a(href="https://www.facebook.com/angel.davcev" target="_blank")
					i.fa.fa-facebook
				
				a(href="https://twitter.com/" target="_blank")
					i.fa.fa-twitter
				
				a(href="https://www.instagram.com/artsy_fartsy_shmartsy/" target="_blank")
					i.fa.fa-instagram
				
				a(href="https://www.linkedin.com/in/angel-davcev/" target="_blank")
					i.fa.fa-linkedin
				
				a(href="https://dribbble.com/Gelsot" target="_blank")
					i.fa.fa-dribbble
				
				a(href="https://codepen.io/Gelsot/" target="_blank")
					i.fa.fa-codepen
				
				a(href="https://github.com/gelsot" target="_blank")
					i.fa.fa-github


		section
			.ks-wrapper
				.ks-mo
					.ks-mo-title-hor
						label Our work
					
					.ks-mo-desc
						h4 What we do
						p.
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus voluptatum quisquam totam dicta cumque voluptatibus quia iste, temporibus laudantium quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eius magni vitae deleniti consectetur eveniet sint! Sit libero sequi corrupti.
						
						.ks-button Read More
							i.fa.fa-long-arrow-right

				
				+user_card('https://scontent.fskp1-1.fna.fbcdn.net/v/t1.0-9/31403977_10214117174137530_8807015566423359488_n.jpg?_nc_cat=0&oh=234a51e7aeaea185386f477d26130cbb&oe=5BBA111E', 'Angel Davcev', 'UI/UX Designer', 'fa fa-paper-plane', 'mailto:angeldavchev@gmail.com')

				


		//- Including scripts
		include tools/pug_includes/scripts