doctype html
html(lang="en")
	head
		//- Including the head content
		include tools/jade_includes/head
	body

		//- Your website or app content goes here

		section
			.ks-wrapper
				.ks-mo
					.ks-mo-title-ver
						label Kickstarter
					
					.ks-mo-figure
						img(src="tools/images/1.jpg")
					
					.ks-mo-desc
						h1 Thank you for downloading! 
						label Kickstarter Jade + Sass boilerplate
						p.
							Hi, I'm Angel Davchev the creator of the Jade and Sass boilerplate.
							Thank you for downloading it, and happy coding!
						p.
							Be sure to check out my other social media profiles.
			
				a(href="https://github.com/gelsot/Kickstartr-Jade-Sass-boilerplate/archive/master.zip").ks-button Download it
					i.fa.fa-download
			
			.social_media_wrapper
				a(href="https://www.facebook.com/angel.davcev" target="_blank")
					i.fa.fa-facebook
				
				a(href="https://twitter.com/" target="_blank")
					i.fa.fa-twitter
				
				a(href="https://www.instagram.com/artsy_fartsy_shmartsy/" target="_blank")
					i.fa.fa-instagram
				
				a(href="https://www.linkedin.com/in/angel-davcev/" target="_blank")
					i.fa.fa-linkedin
				
				a(href="https://dribbble.com/Gelsot" target="_blank")
					i.fa.fa-dribbble
				
				a(href="https://codepen.io/Gelsot/" target="_blank")
					i.fa.fa-codepen
				
				a(href="https://github.com/gelsot" target="_blank")
					i.fa.fa-github
				


		//- Including scripts
		include tools/jade_includes/scripts

		//- Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');