section
	+flex(flex, center, center, column)
	+size(100%, 100vh)
	.ks-mo
		.ks-mo-figure
			height: 250px

	.social_media_wrapper
		a
			margin: 0px 10px
		i
			color: black
	
	.ks-button
		margin: 3rem auto 4rem auto