.ks-switch-wrapper
	.ks-switch-unit
		input(type="radio" id="ks-switch-on" name="switch" checked)
		label(for="ks-switch-on") On
		
	.ks-switch-unit
		input(type="radio" id="ks-switch-off" name="switch")
		label(for="ks-switch-off") Off
		